<div class="position-header">
  <div class="left-area">
    <a href="/"><img class="logo_navbar" src="/assets/imagens/logo-prefeitura.png" /></a>
  </div>
  <div class="right-area">
    <div class="alination">
      <ul class="navbar-nav alination">
        <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item" href="/">
            <a class="nav-link" href="#section-prod">Produtos</a>
        </li>
        <li class="nav-item" href="/">
            <a class="nav-link" href="#section-menber">Feirantes</a>
        </li>
        <li class="nav-item" href="/">
          <a class="nav-link" href="#section-depoi">Depoimentos</a>
        </li>
        <li class="nav-item" href="/">
            <a class="nav-link" href="#section-location">Localização</a>
        </li>
      </ul>
    </div>
  </div>
</div>
